<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cardo:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/index/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="/stylesheets/index/style.css"> <!-- Resource style -->
  <script src="javascripts/Index/modernizr.js"></script> <!-- Modernizr -->

  <title>Full page intro and navigation</title>
</head>
<body>
<main id="cd-main-content">
  <section id="cd-intro">

    <div id="first-tile">
      <button class="sign">Sign In/Up</button>
      <h2>Why waste your next lunch break?</h2>

      <div class="tagline">
        <h4>Grab ____________ and hear interesting things</h4>
        <noun>Coffee</noun>
      </div>
    </div>

    <header class="cd-header">
      <div id="cd-logo"><button name="button" class="btn">Chat Now</button></div>
      <a class="cd-menu-trigger" href="#main-nav">Menu<span></span></a>
    </header>
    <div class="cd-blurred-bg"></div>
  </section> <!-- cd-intro -->
</main>

<div class="cd-shadow-layer"></div>

<nav id="main-nav">
  <ul>
    <li><a href="#0"><span>How It Works</span></a></li>
    <li><a href="#0"><span>Don't You Dare Sign Up</span></a></li>
    <li><a href="#0"><span>Inspiration</span></a></li>
    <li><a href="#0"><span>Frequently Asked Questions</span></a></li>
    <li><a href="#0"><span>About / Meet Us</span></a></li>
  </ul>
  <a href="#0" class="cd-close-menu">Close<span></span></a>
</nav>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="javascripts/Index/main.js"></script> <!-- Resource jQuery -->
<script src="/javascripts/Index/jquery.text.fadeto.js" charset="utf-8">
</script>
<script charset="utf-8">
$( function () {

  var array = ["Coffee","a Bagel", "Lunch", "Take-Out", "Dinner"];
  // var i = ;
  randStatement = function () {
    return array[Math.floor(Math.random() *array.length)];

  };

  setInterval(function(){
    $('noun').fadeTo(randStatement() , {
      fadeInLength  : 1000,
      fadeOutLength : 1500,
      fadeInEasing  : 'ease-in',
      fadeOutEasing : 'ease-out'
    });
  }, 3000);
});
</script>
</body>
</html>
